<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Halo, apa kabar?</h1>
    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id ="submit" class="btn text-light ml-5" style="background-color: #07b3b7; min-width: 50%; font-size: 80%;">Submit</button>
      </form>
      {% if status %}
      <h3>Posted Status</h3>
      {% for status in status %}
      <h4 id = 'status'>{{ status.status }} || {{ status.date }}</h4>
      {% endfor %}
      {% else %}
      <h4>There's No Status Yet</h4>
      {% endif %}

</body>
</html>